<nav class="main-nav">
    <div class="main-bar">
        <div class="logo">
            <img src="/tts.jpg"
                alt="NT" class="logo-nav-img">
            <h2>Total Tax Solution</h2>
        </div>
        <div class="nav-links">
            <div class="nav-icon">
                <a href="/">Home</a>
            </div>
            <div class="nav-icon">
                <a href="/about">About</a>
            </div>
            <div class="nav-icon">
                <a href="/services">Services</a>
            </div>
            <div class="nav-icon">
                <a href="/contact">Contact Us</a>
            </div>
            <div class="nav-icon">
                <a href="/admin/login">Admin Log-in</a>
            </div>
            <div class="nav-icon">
                <a href="/admin/signup">Admin Sign-up</a>
            </div>
        </div>
    </div>
</nav>
