<%layout("./layout/boilerplate.ejs")%>

<%- include("./includes/flash.ejs") %>
<div class="crousel-image">
    <div class="intro-image">
        <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1171" alt="">
    </div>
    <div class="intro-text">
        <h1 class="Text">Total Tax Solution</h1>
        <h3 class="Text">Satyam Mishra & Associates — Expert Tax Consultant in Ranchi</h3>
        <a href="/contact">
            <button class="contact-button">
                Contact Us
            </button>
        </a>
    </div>
</div>

<div class="About-box">
    <div class="About-inside">
        <div>
            <h2>About Total Tax Solution</h2>
            <h4>Total Tax Solution, managed by Satyam Mishra & Associates, is a trusted consultancy firm offering a complete range of financial and taxation services. From Income Tax Return (ITR) and GST filing to company formation, accounting, and project reports for bank finance — we ensure professional, accurate, and timely services to all our clients. Our goal is to simplify taxation and compliance for individuals, firms, and businesses across India.</h4>
        </div>
        <div class="about-image">
            <img src="https://images.unsplash.com/photo-1733819109723-92a56f6872a5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170" alt="">
        </div>
    </div>
</div>

<div class="Services-box">
    <br>
    
  <div class="title-service-box">
    <h1>Our Services</h1>
    <p>Comprehensive tax and compliance solutions — handled with precision, integrity, and professionalism.</p>
  </div>
  <br>

  <div class="services-capsules-container">
    <div class="services-capsules">
      <span>Income Tax Return (ITR)</span>
      <span>Goods & Service Tax (GST)</span>
      <span>Audit</span>
      <span>Accounting</span>
      <span>Digital Signature (DSC)</span>
      <span>Project Report (Bank Finance)</span>
      <span>Partnership Firm</span>
      <span>ROC Compliance</span>
      <span>Professional Tax</span>
      <span>Trust</span>
      <span>Taxation</span>
      <span>Udyam</span>
      <span>TAN</span>
      <span>PAN</span>
      <span>NGO</span>
      <span>Company Formation</span>
      <span>VAT</span>
      <span>ESIC</span>
      <span>NITI Aayog</span>
    </div>

    <div class="services-button">
      <a href="/services">
        <button>View All Services</button>
      </a>
    </div>
  </div>
</div>

    </div>
</div>
